@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      
  to bottom,
  transparent,
  rgb(19, 18, 18) 90%
)
#A3F5AA
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 28px;
  border-radius: 20px;
  color: #6297e6;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 3s infinite;
}
@keyframes l6 {
    100% {inset:0}
}

.loader2 {
  width: 90px;
  height: 28px;
  border-radius: 20px;
  color: #A3F5AA;
  border: 2px solid;
  position: relative;
}
.loader2::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: inherit;
  animation: l6 3s infinite;
}
@keyframes l6 {
    100% {inset:0}
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: rotateY(-50px);
  }
}